

text {
	font-family: Prociono;
}

#map {
	width: 500px;
	height: 500px;
}

path {
  fill: #000;
  fill-opacity: .2;
  stroke: #fff;
  stroke-width: 1.5px;
}

path:hover {
  fill: yellow;
  fill-opacity: .7;
}
