.hexbin-hexagon {
    stroke: white;
    stroke-width: 1px;
    fill-opacity:0.8;
}

.container{
    margin-top: 10px;
}

text {
    font-family: Prociono;
}

h5 {
    font-family: Prociono;
    text-align: center;
}

#map {
    width: 500px;
    height: 600px;
}

#legend {
    height: 200px;
}

.leaflet-overlay-pane svg path{
    pointer-events: auto;
}

path {
  stroke: #fff;
  stroke-width: 2px;
}

.axis path {
  stroke: #000;
  stroke-width: 1px;
}

#info{
    width: 500px;
    height: 50px;
    text-align: center;
}

.frequencyLine {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}


.averageFrequencyLine {  
  fill: none;
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 4,4;
}

.responseLine {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}


.averageResponseLine {  
  fill: none;
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 4,4;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 25px; /* Specified height */
    background: #F5F5F5; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #F55856; /* Blue background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #F55856; /* Blue background */
    cursor: pointer; /* Cursor on hover */
}
